<launch>
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="odom_model_type" value="diff"/>
    <param name="odom_frame_id" value="pose"/>
    <param name="update_min_d" value="0.0"/>
    <param name="update_min_a" value="0.0"/>
    <param name="resample_interval" value="1"/>
  </node>
</launch>
